:root{
    --theme-blue-very-light: #cad8ff;
    --theme-blue-light: #5a74b9;
    --theme-blue: #122864;
    --theme-black: #333333;
    --theme-yellow: #F4B839;
    --theme-red: #E84540;
    --theme-white: #F8F9FA;
}