@font-face {
    font-family: OpenSans;
    src: url(/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf);
    font-style: italic
}

@font-face {
    font-family: OpenSans;
    src: url(/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-style: normal
}

html, body{
    margin: 0;
}

html {
    font-family: OpenSans, sans-serif;
}

body {
    font-size: calc(var(--pss) * 1.5);
}

:root{
    --theme-bg: rgba(126, 126, 126, 0.7);
    --pss: min(2.4vw, 1rem)
}

.spacing{
    width: 100%;
    height: calc(var(--pss) * 3);
}

.section_header{
    font-size: calc(var(--pss) * 2.5);
    font-weight: 600;
    margin: calc(var(--pss) * 1) 0;
}

.site_body{
    width: min(80%, 800rem);
    margin-left: auto;
    margin-right: auto;
}